<h1>Make your form here</h1>

<form action="/pirates" method="POST">
	<p>Pirate Name: <input type="text" name="pirate[name]"></p>
	<break>
	<p>Pirate Weight: <input type="text" name="pirate[weight]"></p>
	<break>
	<p>Pirate Height: <input type="text" name="pirate[height]"></p>
	<break>
	<p>Ship Name 1: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>
	<break>
	<p>Ship Type 1: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></p>
	<break>
	<p>Ship Booty 1: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></p>
	<p>Ship Name 2: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></p>
	<break>
	<p>Ship Type 2: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></p>
	<break>
	<p>Ship Booty 2: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></p>
		<input type="submit" name="submit" value="Submit">
</form>
